<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" shutdownHook="disable">

	<Appenders>
		<Console name="stdlogs" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] [%X{env}] %-5level %logger{36} - %msg%n" />
		</Console>
		
  		<RollingFile  
  			name="stdlogsFile" 
  			fileName="target/out.log" 
  			filePattern="target/out-%d{HH_mm_ss}.log.gz" 
  			append="false" 
		>
           <PatternLayout pattern="[%tid] [%X{env}] [%X{txId}] %-5level %logger{36} - %msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile>

  		<RollingFile  
  			name="sql-times" 
  			fileName="target/sql-perf.log" 
  			filePattern="target/sql-%d{HH_mm_ss}.log.gz" 
  			append="false" 
		>
           <PatternLayout pattern="%-30X{env} %msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile>
        
  		<RollingFile  
  			name="performance" 
  			fileName="target/perf.log" 
  			filePattern="target/perf-%d{HH_mm_ss}.log.gz"  
  			append="false"
		>
           <PatternLayout pattern="%-15X{id} %-30X{env} %msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile >
<!-- 
         <RollingFile  
         	name="test-client" 
         	fileName="target/client.log" 
         	append="false"
  			filePattern="target/client-%d{HH_mm_ss}.log.gz" 
       	>
           <PatternLayout pattern="%msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile >
 -->
 		
 		<Console name="test-client" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
		
  		<RollingFile  
  			name="computer-inputs" 
  			fileName="target/in_outputs.log" 
  			filePattern="target/in_out-%d{HH_mm_ss}.log.gz" 
  			append="true"
		>
<!-- 		
           <PatternLayout pattern="[%d{HH:mm:ss,SSS}] [%X{id}] %msg%n" />
-->
           <PatternLayout pattern="[%X{id}] %msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile >
        
  		<RollingFile  
  			name="input" 
  			fileName="target/input_bin.log" 
  			filePattern="target/input_bin-%d{HH_mm_ss}.log.gz" 
  			append="false"
		>
           <PatternLayout pattern="%msg%n" />
           <SizeBasedTriggeringPolicy size="1000 MB" />
        </RollingFile >
        
    	<Async name="async">
			<AppenderRef ref="stdlogs" />
		</Async>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdlogs" />
		</Root>
		
		<Logger name="org.apache.log4j" level="info"/>
		<Logger name="kafka" level="warn"/>
		<Logger name="org.apache" level="warn"/>
		<Logger name="com.dianemodb" level="info" />
		
<!-- 
		<Logger name="com.dianemodb.tpcc" level="info" />
		
		<Logger name="com.dianemodb.tpcc.transaction.TerminalBasedProcessScheduler" level="debug"/>
		<Logger name="com.dianemodb.tpcc.transaction.TerminalPool" level="debug"/>
		<Logger name="com.dianemodb.tpcc.transaction.Delivery" level="info" additivity="false">
			<AppenderRef ref="stdlogsFile" />
		</Logger>
-->

		<!-- log SQL times at debug -->
 		<Logger name="com.dianemodb.integration.sqlwrapper" level="debug" additivity="false">
			<AppenderRef ref="sql-times" />
		</Logger>
		
		<!-- LOGS AT TRACE Logs inputs into a BASE24 file so that they can be replayed -->
		<Logger name="com.dianemodb.ServerEvent" level="info" additivity="false">
			<AppenderRef ref="input"/>
		</Logger>

		<!-- 
			log times at debug
			
			logs the performance of each event that was executed
			
			Since both this log and the sql-log carry the correlation id, these can
			be associated back
			
			So, this log gives an overview, the sql-logs provide the drilldown 
		-->
		<Logger name="com.dianemodb.Computer" level="debug" additivity="false">
			<AppenderRef ref="performance"/>
		</Logger>
		
	</Loggers>
</Configuration>
